# === Python ===
__pycache__/
*.py[cod]

# === Virtual Env ===
venv/
.venv/

# === Environment ===
.env
.env.*

# === Logs ===
*.log

# === IDE ===
.idea/
.vscode/

# === OS ===
.DS_Store
Thumbs.db

# === Local config ===
config.local.py
settings.local.yaml
